<div class="layout container">


    <form action="list_symptoms" method="POST" data-turbo=false class="symptoms-form">

        <div class="symptoms-list">

        <% @symptoms.each do |s| %>

          <div class="symptom-item">
          <label> <%= s.name %>
              <input type="checkbox" name="<%= s.name %>" value="<%= s.id %>" visibility: hidden />
          </label>
          </div>

        <% end %>

        </div>

      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      <input type="submit" value="Suivant" class="suivant" id="symptoms-submit-btn"/>
    </form>


</div>
<h1>Tes symptômes ?</h1>
