<div class="layout">
  <form action="list_moods" method="POST" data-turbo=false>
    <div class="moods-list">
      <% @moods.each_with_index do |mood, index|%>
        <div class="mood-item">
          <label> <%= mood.name %>
            <input type="checkbox" name="<%= mood.name %>" value="<%= mood.id %>" visibility: hidden />
          </label>
        </div>
      <% end %>
    </div>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <input type="submit" value="Suivant" class="suivant" type="hidden"
    data-moods-list-target="button" />
  </form>
</div>
<h1>Ton mood ?</h1>
