<div class='layout'>
<h1> Question 4</h1>
  <div>
<%# formulaire à choix multiples, affiche toutes instances de symptoms, envoie hidden dans array @symptoms = [symptom_id]  de ceux selectionnés %>

 <form action="list_symptoms" method="POST">


    <select name="my_symptoms" multiple>
      <% @symptoms.each do |symptom|%>
        <option value="<%= symptom.id %>"><%= symptom.name %></option>
      <% end %>
    </select>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <input type="submit" value="Suivant" class="suivant" />
  </form>


  </div>
</div>

<h1>Tes symptômes !</h1>
