 <div class="container-blue">

    <div class="box-btns">

      <div class="btn-groupe">
        <input type="radio" class="radio-btn-hide"
        name="btn-neo" id="a" value="100">
        <label for="a" class="label-plus-btn">
          <span class="text">100 %</span>
          <div class="indicator"></div>
        </label>
      </div>

      <div class="btn-groupe">
        <input type="radio" class="radio-btn-hide"
        name="btn-neo" id="a" value="75">
        <label for="a" class="label-plus-btn">
          <span class="text">75 %</span>
          <div class="indicator"></div>
        </label>
      </div>

      <div class="btn-groupe">
        <input type="radio" class="radio-btn-hide"
        name="btn-neo" id="a" value="50">
        <label for="a" class="label-plus-btn">
          <span class="text">50 %</span>
          <div class="indicator"></div>
        </label>
      </div>

      <div class="btn-groupe">
        <input type="radio" class="radio-btn-hide"
        name="btn-neo" id="a" value="25">
        <label for="a" class="label-plus-btn">
          <span class="text">25 %</span>
          <div class="indicator"></div>
        </label>
      </div>

    </div>
    
</div>
