<div class='layout'>
<h1> Question 3</h1>
  <div>

    <%= form_with url: {controller: :conditions, action: :question4}, model: @condition do |f| %>

      <% @symptoms.each do |symptom|%>
        <%= symptom.name %> <%= check_box_tag :symptom_id, "#{symptom.id}" %>
      <br>
      <% end %>

      <%= f.submit %>
    <% end %>

  </div>
</div>

<h1>Tes symptômes !</h1>
