<h1> Question 2</h1>

<form target="_blank" action="question3" method="GET">
<select name="energy_level" class="form-select" aria-label="Default select example">
  <option selected>energy_level</option>
  <option value="25">25</option>
  <option value="50">50</option>
  <option value="75">75</option>
  <option value="100">100</option>
  </select>
  <input onclick="question3_path" type="submit" value="Submit request" />
