<div class='layout'>
<h1> Question 3</h1>
  <div>
<%# formulaire à choix multiples, affiche toutes instances de symptoms, envoie hidden dans array @symptoms = [symptom_id]  de ceux selectionnés %>


    <%= form_with model: @symptom do |f| %>
      <% @symptoms.each do |symptom|%>
        <%= symptom.name %> <%= check_box_tag :symptom_id, "#{symptom.id}" %>
      <br>
      <% end %>

      <%= f.submit %>
    <% end %>

  </div>
</div>

<h1>Tes symptômes !</h1>
