<div class="layout">
  <form action="question2" method="GET">
    <select name="mood" id="pet-select">
      <% @moods.each do |mood|%>
        <option value="<%= mood.id %>"><%= mood.name %></option>
      <% end %>
    </select>
    <input type="submit" value="Suivant" class="suivant" />
  </form>
</div>
<h1>Ton mood ?</h1>
