// Specific CSS for your home-page
.centered-element {
  margin-top: 250px;
}

.logo.centered-element.search {
  margin-top: 130px;
}
.search-loader img {
  width: 340px;
}

.loader {
  margin-top: 30px;
  text-align: center;
}
.loader img {
  width: 320px;
}

.home_font_size p {
  font-size: 44px;
}
