// Import page-specific CSS files here.
@import "home";
@import "list-symptoms";
@import "menu";
@import "show_detailed";


.recipe-proposal {
  overflow-x: hidden;
  width: 100vw;
  display: flex;
  gap: 20px;
}
