// Import page-specific CSS files here.
@import "home";
@import "list-symptoms";
@import "menu";
@import "show_detailed";
@import "show_infos";
@import "list-moods";
@import "login";
@import "index-recipes";
@import "show_recipe";
@import "list_energy";
@import "sign_in";
@import "recipe_steps";
@import "shop_list";
