.layout.list-mood {
  background-color: #17BEBB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 42px;
  width: 90%;
  margin: 0 auto;
  min-height: 400px;
}

.moods-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 12%;
  padding-bottom: 10%;
  padding-top: 4%;
 }

.mood-item {
  background-color:#17BEBB;
  border-radius: 32px;
  padding: 7px 15px;
  margin: 16px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: white;
  border: 1px solid white;
  padding: 2% 1%;
  margin: 2%;
  width: fit-content;
  text-align: center;
  flex: 1 1 fit-content;

  &.selected {
    color:#17BEBB;
    background-color: #ffffff;
    border-radius: 32px;
    }
}
.title.list-mood {
color: white;
font-size: 29px;
}
.title.bottom.list-mood {
  color: #17BEBB;
}
.indicators.list-mood {
  display: flex;
  justify-content: space-around;
  width: 177px;
  margin: auto;
  .indicator-item {
    width: 55px;
    height: 4px;
    background: rgba(177, 205, 166, 0.3);
  }
  .indicator-item.active {
    width: 55px;
    height: 4px;
    background-color: #17BEBB;
  }
}
.button.list-mood {
  background: #17BEBB;
  border: 3px solid #FFFFFF;
  border-radius: 59px;
  color: white;
  padding: 2px;
  width: 144px;
  height: 68px;
  margin: auto;
}
