.symptoms-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 12%;
  padding-bottom: 12%;
  padding-top: 4%;
}

.symptoms-form {
  position: relative;
}
.symptom-item {
  background-color: #ffffff;
  color: #B1CDA6;
  border-radius: 32px;

  padding: 2% 1%;
  margin: 2%;
  width: fit-content;
  text-align: center;
  flex: 1 1 fit-content;

  &.selected {
    color: #FBB143;
    background-color: #ffffff;
    border: 1px solid #FBB143;
    border-radius: 28px;
    }
}

#symptoms-submit-btn {
  padding: 16px 20px;
  background-color: #FBB143;
  color: white;
  border-radius: 59px;
  text-decoration: none;
  position: absolute;
  left: 34%;
  bottom: -6%;
}
