.layout-list-symptoms {
  background-color:#E4572E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 42px;
  width: 90%;
  margin: 0 auto;
  min-height: 490px;
}

.symptoms-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 12%;
  padding-top: 4%;
}

.symptoms-form {
  position: relative;
}
.symptom-item {
  background-color: #E4572E;
  color: white;
  border: 1px solid white;
  border-radius: 32px;

  padding: 2% 1%;
  margin: 2%;
  width: fit-content;
  text-align: center;
  flex: 1 1 fit-content;

  &.selected {
    color: #E4572E;
    background-color: #ffffff;
    border-radius: 28px;
    }
}

#symptoms-submit-btn {
  padding: 16px 20px;
  background-color:white;
  color: #E4572E;
  border: 3px solid #FFFFFF;
  border-radius: 59px;
  text-decoration: none;
  bottom: 0%;
}

.title.list-symptoms h1 {
  color: white;
  }
  .title.bottom.list-symptoms {
    color: #E4572E;
  }
  .indicators.list-symptoms{
    display: flex;
    justify-content: space-around;
    width: 177px;
    margin: auto;
    margin-top: 6px;
    .indicator-item {
      width: 55px;
      height: 4px;
      background: rgba(177, 205, 166, 0.3);
    }
    .indicator-item.active {
      width: 55px;
      height: 4px;
      background-color: #E4572E;
    }
  }
  .button.list-symptoms {
    background: #E4572E;
    border: 3px solid #FFFFFF;
    border-radius: 59px;
    color: white;
    padding: 2px;
    width: 144px;
    height: 68px;
    margin: auto;
  }
