.battery {
  border: 4px solid white;
  width: 70%;
  margin: auto;
  border-radius: 10px;
}

.battery-level {
  border: 4px solid white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  width: 80%;
  margin: 15px 10px 15px 20px
}

.battery-level.active {
  border: 4px solid white;
  background-color: #17BEBB;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  width: 80%;
  margin: 15px 10px 15px 20px
}

.battery-head-bloc {
  height: 30px;
  border: 4px solid white;
  width: 30%;
  margin: auto;
  border-radius: 10px 10px 0px 0px;
  border-bottom: none;
}


.layout2{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 42px;
  background-color: #FFCC4D;
  padding: 15px;

}

.title.list-energy {
  margin-top: 10px;
  color: #FFCC4D;
}

.indicators.list-energy {
  display: flex;
  justify-content: space-around;
  width: 177px;
  margin: auto;
  .indicator-item {
    width: 55px;
    height: 4px;
    background: rgba(177, 205, 166, 0.3);
  }
  .indicator-item.active {
    width: 55px;
    height: 4px;
    background-color: #FFCC4D;
  }
}

.box-battery {
  margin-top: 15px;
  box-shadow:
    4px 4px 4px 0px #f2dfae inset,
   -4px -4px 4px 0px #f8efd7 inset;
  background-color: #ecf0f3;
  border-radius: 6px;
  padding: 5px;
  height: 40px;
  width: 203px;
  display: flex;
  justify-content: center;

}

.container-blue {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

.battery-container {
  display: flex;
  justify-content: center;
}

.box-btns {
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  background: #ecf0f3;
  box-shadow:
    4px 4px 4px 0px #f2dfae inset,
    -4px -4px 4px 0px #f8efd7 inset
  ;
}

.btn-groupe {
  width: 300px;
  margin: 8px 0;
}

.radio-btn-hide{
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
}

.label-plus-btn {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: grey;
}

.text {
  color: white;
  font-family: 'Outfit';
  font-size: 25px;
  margin-left: 30px;
  text-align: center;
  opacity: 0,6;
  transition: all 0.2s;
  border: solid 2px white;
  box-shadow:
  -4px -2px 4px 0px #d1d9e6,
  4px 2px 8px 0px #fff;
  width: 160px;
  height: 50px;
  margin-top: 8px;
  background-color:#FFCC4D;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  margin-right: 8px;
}

.indicator {
  position: relative;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  box-shadow:
    -8px -4px 8px 0px white,
    8px 4px 12px 0px #d1d9e6;
  overflow: hidden;
}

.indicator::before,
.indicator::after {
  content: '';
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

.indicator::before {
  box-shadow:
  -4px -2px 4px 0px #d1d9e6,
  4px 2px 8px 0px #fff;
}

.indicator::after {
  background-color: #f5ecac;
  box-shadow:
  -4px -2px 4px 0px #d1d9e6,
  4px 2px 8px 0px #d1d9e6;
  transition: opacity 0.25s ease-in-out;
}

.radio-btn-hide:checked ~ .label-plus-btn .indicator::after {
  opacity: 0;
}

.radio-btn-hide:focus ~ .label-plus-btn .text {
  opacity: 1;
  transform: translate(-8px);
}

.label-plus-btn:hover .text {
  opacity: 1;
  font-size: 20pt;
}

.button.list-energy {
  border: solid 2px white;
  width: 160px;
  height: 50px;
  background-color:#FFCC4D;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: 'Outfit' ;
}
