.sign_in {
  margin: auto 15px;
  color: white;
}

.little-title {
  color: white;
  text-align: center;
  font-size: 18px;
}

.subscribe {
  background-color: #FBB143;
  border-radius: 150px;
  width: 150px;
  height: 150px;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
}

.subscribe_btn {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.login-button {
  padding: 20px;
  background-color: #FBB143;
  border-radius: 59px;
  border: solid 1px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px 56px 10px 56px;
  font-size: 12px;
}

.form-actions{
  display: flex;
  justify-content: center;
}

.login-input {
  border-radius: 59px;
  background-color: white;
  font-size: 12px;
  padding: 13px 10px 13px 10px;
}
.remember_form {
  font-size: 12px;

  a {
    text-decoration: none;
    color: white;
  }
}

.google_oauth {
  border-radius: 59px;
  background-color: white;
  font-size: 12px;
  padding: 13px 10px 13px 10px;
  text-align: center;
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
}
.google_oauth_link {
  text-decoration: none;
    color: black;
    font-weight: bold;
}

.sign_in p {
  font-size: 12px;
}
