.conditions-list {
  height: 300px;
  overflow:hidden;
  overflow-y:scroll;
}
.condition-item {
  background-color: white;
  border-radius: 59px;
  margin: 10px;
  font-size: 12px;
  padding: 10px;
}
