.mama {
  position: relative;
}

.global-info {
  padding: 15px;
  margin: 15px;
}

.pourquoi {
  color: white;
  text-align: center;
}

.white-div {
  background-color: white;
  border-radius: 30px;
  width: 90%;
  margin: 14px;
  padding: 26px 12px 12px 15px;
  margin-bottom: 21px;
  p {
    font-size: 14px;
  }
}

.font-alim {
  position: absolute;
  background-color: #FFC914;
  padding: 8px;
  border-radius: 30px;
}

.floatting-left {
  left: -18px;
  top: -25px;
}

.floatting-right {
  left: 209px;
  top: -20px;
}

.show-infos-title {
  color: #76B041;
}

.orange-cross-infos {
  color:#FBB143;
  background: white;
  border-radius: 100%;
  position: absolute;
  left: -18px;
  top: -15px;
}
