.mama {
  position: relative;
}

.global-info {
  padding: 15px;
  margin: 15px;
}

.pourquoi {
  color: white;
  text-align: center;
}

.white-div {
  background-color: white;
  border-radius: 30px;
  width: 90%;
  margin: 14px;
  padding: 26px 12px 12px 15px;
}

.font-alim {
  position: absolute;
  background-color: #FFC914;
  padding: 8px;
  border-radius: 30px;
}

.floatting-title1 {
  left: -18px;
  top: -25px;
}

.floatting-title2 {
  left: 185px;
  top: -53px;
}
