.content-bloc {
  background-color: white;
  border-radius: 30px;
  font-size: 12px;
  padding: 15px 15px 15px 15px;
  margin: 15px;
}
.ingredient-list {
  width: 80%;
}
.person-number {
  background-color: white;
  border-radius: 30px;
  font-size: 12px;
  margin: 20px;
}
