.fond-shop {
  padding: 12px 32px;
  position: relative;
}

.orange-close {
  color:#FBB143;
  background: white;
  border-radius: 100%;
  position: absolute;
  left: -16px;
  top: -15px;
}


.person-number {
  padding: 16px;
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-radius: 40px;
  margin: 15px;
}
.fa-carrot {
  color: #FBB143;
}
.nber {
  border: 1px solid black;
  border-radius: 25px;
  padding: 3px 6px;
  height: fit-content;
  width: fit-content;
}


.to_shoplist-button {
  color: white;
  text-align: center;
  background-color: #76B041;
  border: 2px solid white;
  padding: 15px;
  width: 132px;
  height: 62px;
  position: absolute;
  bottom: -8%;
  left: 30%;
}

.ingredient-checkbox {
  margin-bottom: 5px;;
}

.content-bloc {
  display: flex;
  height: 40vh;
  margin-top: 4vh;
}

.ingredient-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-y: scroll;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}
input[type=checkbox] {
  border-radius: 2px;
  height: 15px;
  width: 15px;
  background: #fff;
  border: 1px solid #000000;
}
input[type="checkbox"]:checked {
  background: #FBB143;
  margin:5px;
  &:before {
    font-family: FontAwesome;
    content: "🥑";
    display: block;
    color: rgb(0, 0, 0);
    font-size: 13px;
  }
}
