.content-bloc {
  background-color: white;
  border-radius: 30px;
  font-size: 12px;
  padding: 15px 15px 15px 15px;
  margin: 15px;
}

.recipe-content {
  color: black;
  text-align: center;
  overflow: scroll;
  height: 320px;
}

// .to_shoplist-button-green {
//   background-color: #76B041;
// }
.btn-rond {
  background-color: #76B041;
  padding: 18px;
  border-radius: 48px;
  text-decoration: none;
  color: white;
}
