.recipe-steps {
  background-color: white;
  width: 80%;
  border-radius: 32px;
  margin: auto;
}
.step-number {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: white;
  border: solid;
}
