<div class="navbar_nutrimood d-flex justify-content-center yellow">
  <div class="bloc-navbar d-flex">
    <%= link_to "/menu", class: "navbar-brand" do %>
      <div class="logo yellow">nutrimood
      </div>
    <% end %>
    <%= link_to "/profil", class: "avatar" do %>
      <div class="logo yellow">
        <i class="fa-solid fa-user"></i>
      </div>
    <% end %>
  </div>
</div>
