<div class="home_font_size">
  <div class="navbar_nutrimood">
    <%= link_to "/", class: "navbar-brand" do %>
      <div class="logo centered-element"> <p>nutrimood</p>
      </div>
    <% end %>
  </div>
</div>
