<% content_for :meta_title, "Bienvenue sur Nutrimood !" %>
<% content_for :meta_description, "Nutrimood, app incroyable pour savoir comment mieux manger" %>
<div class="home_font_size" data-controller="home-loader">
  <div class="navbar_nutrimood">
    <div class="logo centered-element">
      <p>nutrimood</p>
    </div>
    <div class="loader">
      <img src="https://media.tenor.com/VYpPUPf9basAAAAC/me-every-day-moods.gif" alt="">
      <%= image_tag "search.gif" %>
    </div>
  </div>
</div>
