<% content_for :meta_title, "Bienvenue sur Nutrimood !" %>
<% content_for :meta_description, "Nutrimood, app incroyable pour savoir comment mieux manger" %>
<div class="home_font_size" data-controller="home-loader">
  <div class="navbar_nutrimood">
    <%= link_to "/", class: "navbar-brand" do %>
      <div class="logo centered-element">
        <p>nutrimood</p>
      </div>
      <div class="loader">
      <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921" alt="">
      </div>
    <% end %>
  </div>
</div>
