<% content_for :meta_title, "Liste d'étapes de la recette #{@recipe.name}" %>
<% content_for :meta_description, "Nutrimood, app incroyable pour savoir comment mieux manger" %>
<% content_for :navbar do %>
  <%= render 'shared/navbar_green' %>
<% end %>
<div class="layout-green pt-2">
  <div class="recipe-steps p-3">
    <% @recipe.recipes_steps.each do |step| %>
      <div class="step-item d-flex">
        <div>
          <div class="step-number">
            <%= step.step_number %>
          </div>
        </div>
        <div class="step-description">
          <%= step.step_description %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="recipe-submit-button mt-5">
    <%= link_to menu_path, class: "to_shoplist-button" do %>
      <i class="fa-solid fa-cookie-bite fa-2x"></i> À TABLE !
    <% end %>
  </div>
</div>
