.navbar_nutrimood.blue {
  padding: 15px;
  color: #17BEBB;

  .fa-solid{
    position: relative;
      top: 2px;
      right: -60px;
  }

}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
