.recipe-img img {
  width: 250px;
}

.to_shoplist-button {
  padding: 20px;
  background-color: #FBB143;
  border-radius: 59px;
  text-decoration: none;
  color: white;
}
.recipe-title {
  background-color: white;
  border-radius: 59px;
  padding: 5px;
}
