// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: white !important;
}

.layout {
  background: rgba(177, 205, 166, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 42px;
  width: 85%;
  padding: 20px;
  margin: 0 auto;
  min-height: 500px;
}

h1 {
  font-size: 26px;
  line-height: 33px;
  text-align: center;
  color: #FBB143;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  padding: 10px;
}

.logo {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #B1CDA6;
}

.conditions-list {

}
.condition-item {
  background-color: white;
border-radius: 59px;
}
