// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "tom-select/dist/css/tom-select.min.css";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: white !important;
}

.layout {
  background: rgba(177, 205, 166, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 42px;
  width: 90%;
  margin: 0 auto;
  min-height: 510px;
}

.layout-green {
  background: #76B041;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 42px;
  width: 90%;
  margin: 0 auto;
  min-height: 476px;
}

.layout-white {
  background:white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 42px;
  width: 90%;
  margin: 0 auto;
  min-height: 490px;
}

h1 {
  font-size: 29px;
  line-height: 33px;
  text-align: center;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  padding: 10px;
}

.logo {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #76B041;
}
.logo.blue {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #17BEBB;
}
.logo.yellow {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #FFC914;
}
.logo.red {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #E4572E;
}
