
<div class="layout">

    <div class="radar">
    </div>

    <div class="button">
        <%= link_to recipes_path(@recipe) , class: "button" do %>
        x
        <% end %>
    </div>

    <div class= "bloc-blanc">

        <div class= "condition-mood">
          <b>Ton Mood: <%= @condition.mood.name %> <b>
        </div>

        <div class= "mood-ingredient">
          <%= @condition.mood.ingredients_by_moods.first.anecdote %>
        </div>

        <div class= "symptom-ingredient">
          <div class= "astuces"><b>Quelques astuces :</b></div>
          <div class= "anecdotes">
          <% @recipe.ingredients_by_symptoms.sample(3).each do |ingredient| %>
          <div class= "anecdote3"><p><%= ingredient.anecdote %></p></div>
          <% end %>
            </div>
        </div>

    </div>
</div>

<h1><b>Infos Nutrition</b></h1>
