<h1>Card Infos</h1>

<div class="layout">
    <div class="info-anecdote-by-symptom">
      <%= @ingredients_by_symptom %>
    </div>
    <div class="info-anecdote-by-mood">
     <%= @ingredients_by_mood %>
    </div>
  </div>
</div>
